<ion-modal-view class="bg-grey">
  <ion-header-bar class="bar bg-grey">
            <button ng-click="chat_detail_box.hide()" class="button button-clear button-light button-sm button-small"  style="float:left;font-weight: bold;color: rgb(3, 3, 3) !important;">&nbsp;<i class="ion ion-close-round"></i>&nbsp;</button>          
            <ion-title><b>Details</b></ion-title>
  </ion-header-bar>
    
  <ion-content class="text-left bg-white" style="margin-top: 0px !important;padding-top:10px !important;">

          <ion-item ng-if="chat.members.length > 2" class="padding"> 
                <label class="item item-input">
                  <input ng-disabled="!chat_admin(chat)" type="text" ng-model="chat.title" placeholder="Group title" maxlength="30"/>
                  <button style="float: right !important;" ng-if="chat_admin(chat)" ng-disabled="!chat.title" ng-click="chat_update(chat)" class="button button-dark button-sm button-small pull-right">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</button>          
                </label>
          </ion-item>

          <div class="item item-divider row" style="background-color: transparent !important;width: 100% !important;float: left !important;display: block !important;padding:10px !important;">
            <button style="float: right !important;" ng-if="chat_admin(chat)" ng-click="add_member(chat)" class="button button-balanced button-icon-right button-small pull-right">
              &nbsp;&nbsp;&nbsp;<span class="icon ion-plus-round"></span>&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </button>  
            <h4 style="margin-top: 10px !important;"><b>Members</b></h4>  
          </div>


          <ion-list>
              <div ng-include="'components/member.html'" ng-repeat="caster in chat.members">
              </div>                   
          </ion-list>
        
          <button ng-click="leave_chat(chat)" class="button button-clear button-assertive button-block button-long">
              Leave Chat
          </button>
        
  </ion-content>

</ion-modal-view>