<ion-modal-view class="player-grade-bg blur_bg" style="margin-top: -20px !important;height:120vh;">
 
  
      <ion-content style="background-color: transparent !important;">
            <div class="start_bg padding text-center">
            </div>
            <div class="padding text-center" style="padding: 30px !important;">
                <h1 class="light nuba"><b>Listen Up, It's JustTalk</b></h1>
                <h4 class="light">
                  Listen to podcasts and join the conversation with millions of people, tell a story or share an idea and connect with the audio space
                </h4>
                <br>
                <button ui-sref="account" ng-click="start_box.hide()" class="button button-full button-light"><b>Get started</b></button>
                  <br>
                <a class="link light" ng-click="start_box.hide()">Skip ></a>
            </div>
      </ion-content>


      
</ion-modal-view>
  