<ion-view>


  <ion-nav-bar class="bar bar-light" style="display:block;">
    <ion-nav-buttons side="left">
        <button title="back" class="button button-clear button-dark" back-button>
          <i class="icon ion-ios-arrow-back"></i>
        </button> 
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button ng-click="update_photo()" style="margin-top: 1px !important;" class="button button-small button-block button-long button-balanced">&nbsp;&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;&nbsp;</button>
      </ion-nav-buttons>
  
    </ion-nav-bar>



    <ion-content class="bg-white">
  

      <div class="profile_header3 text-center" ng-style="{'background-image':'url('+media+user.photo_header+')'}">
        <button title="button" class="button button-small button-outline button-light" style="margin-top: 40px !important;" style="position: absolute !important;" ngf-resize="{width: 850, height: 850,quality: 0.8,centerCrop: true}" ngf-accept="'image/*'" ngf-pattern="'.png,.jpg,.gif,.jpeg'" ng-model="header_file" name="header_file"  ngf-max-size="30000MB" ngf-select="header_up($file)">
          &nbsp;&nbsp; change header photo &nbsp;&nbsp;
        </button>
        <img title="header" ng-if="header_file" ngf-src="header_file" style="width: 100%;margin-top: -90px !important;">
    </div>

    <div class="profile_photo_big text-center" style="margin-top: -90px !important;" ng-style="{'background-image':'url('+media+user.photo+')'}">
        <img title="profile_photo" ng-if="file" ngf-src="file" style="width: 100%;">
    </div> 
    <br>
    <br>
    <br>
    <div style="padding: 60px !important;">
        <button class="button button-small button-outline button-dark" style="position: relative;" id="file_up" ngf-resize="{width: 850, height: 850,quality: 0.8,centerCrop: true}" ngf-accept="'image/*'" ngf-pattern="'.png,.jpg,.gif,.jpeg'" ng-model="file" name="file"  ngf-max-size="30000MB" ngf-select="file_up($file)">
            change profile photo
        </button>
    </div>
    <br><br>
    </ion-content>
  </ion-view>
  