<ion-view cache-view="true">
        
    <ion-nav-bar class="bar bar-light">
      <ion-nav-buttons side="left">
        <button class="button button-clear" back-button>
          <i class="icon ion-ios-arrow-back dark"></i></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        </ion-nav-buttons>
  
      <ion-nav-title>
        <b>Send Request</b>
      </ion-nav-title>
    </ion-nav-bar>
    
    <ion-content class="padding text-center">
 
       <br>
     <div ng-show="selected_user" class="padding">
             <br>
             <div ui-sref="aprofile({id:selected_user.t_id})" class="ppa" style="margin-top: -7px;margin-left:auto;margin-right: auto;" ng-style="{'background-image':'url('+media + selected_user.photo+')'}">
             </div>
             <br>
             <div ui-sref="aprofile({id:selected_user.t_id})" class="text-center" ng-if="selected_user">
                <h4>{{selected_user.full_name ||  selected_user.first_name  +' '+ selected_user.last_name | capitalize}}</h4>
                <h5><b class="grey">@{{selected_user.user_name}}</b></h5>
              </div>
     </div>
 
     <div ng-if="chat.members.length > 1" class="list list-inset padding transparent">
      <ion-label>Group Name</ion-label>
      <label class="item item-input">
        <input  ng-disabled="!chat_admin(chat)" type="text" ng-model="selected_user.title" placeholder="Group title" maxlength="30">
      </label>
     </div>
 
     <div class="padding" ng-if="chat.members.length > 1">
      <b class="grey">a request would be sent to @{{selected_user.user_name || '...'}}</b> to join the conversation with <b>{{chat.members.length || 0}}</b> others
    </div>

     <div class="text-center padding"  ng-if="!chat.members">
       <b>you are about to send a request to start a conversation with <b class="grey">@{{selected_user.user_name}}</b>.</b>
     </div>

     <div class="text-center padding" ng-if="selected_user">
      <button ng-disabled="chat_id && !selected_user.title" ng-click="request_chat(selected_user)" class="button button-block button-balanced">
        Send request
      </button>
    </div>

 
   </ion-content>
 
 
   </ion-view>