<ion-view >

  <ion-nav-bar class="bar bg-grey">

<ion-nav-title>
  <b>Change password</b>
</ion-nav-title>
    
    <ion-nav-buttons side="left">
      <button class="button button-clear" back-button>
      <i class="icon ion-ios-arrow-back oran"></i></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="padding" style="padding:20px !important;">
    <h5>Make sure you put a password you can remember and keep it safe and secure to avoid impersonation or hacking.</h5>
    
      <label class="item item-input">
              <i class="ion-lock-combination oran"></i>
              <input type="password" ng-model="s.old" placeholder="Old Password" required/>
      </label>

      <label class="item item-input">
             <i class="ion-lock-combination oran"></i>
              <input type="password" ng-model="s.new" placeholder="New Password" required/>
      </label>
      <br/>
      <br/>
      <button ng-disabled="!s.new || !s.old" ng-click="change_password(s)" class="button button-long button-block button-dark">Update</button>
    
  </ion-content>
</ion-view>
