<ion-view class="bg-grey">

    <ion-nav-bar class="bar bg-grey">

        <ion-nav-buttons side="left">
          <button class="button button-clear" back-button>
            <i class="icon ion-ios-arrow-back dark"></i>
          </button>
        </ion-nav-buttons>

        <ion-nav-title class="text-center" align="center">
          <b style="margin-top: 5px !important;">Edit Cast</b>
        </ion-nav-title>


        <ion-nav-buttons side="right">
          <button ng-click="update_cast(selected_cast)" style="margin-top: 1px !important;" class="button button-small button-block button-long button-balanced">&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
        </ion-nav-buttons>

    </ion-nav-bar>
    
    <ion-content class="bg-grey padding">
      
            <ion-item>
              <div class="row">
                    <div class="col col-10">
                    <div class="profile-photo" style="margin-left: -4px !important;margin-top:15px !important;" ng-style="{'background-image':'url('+media+user.photo+')'}">
                    </div>  
                    </div>
                    
                    <div class="col col-80">
                    <div style="width: 100% !important;float: left !important;margin-top: 17px !important;" class="padding">
                      <div ng-include src="'components/duration2.html'"></div>
                    </div>
                    </div>


                    <div class="col col-10">
                      <div ng-include src="'components/player3.html'"></div>
                    </div>
              </div>
            </ion-item>
            <div class="padding">
              <label class="item item-input">
                <i class="icon ion-edit placeholder-icon"></i>
                <input type="text" ng-model="selected_cast.title" placeholder="Title of cast (optional)" maxlength="30"/>
              </label>   
            </div>
            <div class="item padding">
                <button ng-disabled="mentions.length >= 5" ng-click="mention_box.show()" style="float: right !important;margin-top: 10px !important;" class="button button-small button-balanced">
                    <span class="ion ion-person-add" style="margin:4px !important;"></span>
                </button>
                <div ng-if="!mentions || mentions.length < 1" ng-click="mention_box.show()">
                    <h5>Mention people on your cast</h5>
                    <small>(optional)</small>
                </div>
                <div class="tag" ng-repeat="mention in mentions">
                  <b>@{{mention.user_name}}</b> &nbsp;<i ng-click="remove_mention(mention)" class="ion ion-close"></i>
                </div>
                <div class="padding">
                  <br/>
                  <button class="button button-block button-assertive button-clear" ng-click="delete_cast(selected_cast)">Delete Cast</button>
                </div>
              </div>

    </ion-content>  
    
    </ion-view>
    
    