<ion-view cache-view="false">

    <ion-nav-bar class="bar-light" style="display:block;">
          <ion-nav-buttons side="right">
          <!-- <button ui-sref="login" style="font-weight: bold;" class="button button-clear button-assertive">SIGN IN</button> -->
          </ion-nav-buttons>
          <ion-nav-title>
            <b>Library</b>
          </ion-nav-title>
  
  
    </ion-nav-bar>
   
   
    <ion-content class="padding text-center" style="background-color: rgb(252, 252, 252) !important;">


<div ng-controller="Cast">
        
  

       <div class="padding">
          <ion-segment ng-model="library" full="true" dark>
              <ion-segment-button value="saved">
                Saved
              </ion-segment-button>
              <ion-segment-button value="books">
                My Books
              </ion-segment-button>
            </ion-segment>    
       </div>
       
    
       <div ng-switch="library">
                <ion-list ng-switch-when="saved">
                    <div ng-include="'components/book.html'" ng-repeat="book in saved_books | unique:'_id' | orderBy:'-date_created' track by $index">
                    </div> 
                </ion-list>
                

                <ion-list ng-switch-when="library">
                    <div ng-include="'components/book.html'" ng-repeat="book in profile_library | unique:'_id' | orderBy:'-date_created' track by $index">
                </div> 
                <div ng-if="!profile_library || profile_library.length < 1" class="text-center padding">
                    <br>
                    <br>
                    <h5>Empty</h5>
                    </div>
                </ion-list>
       </div>
      


      





</div>


</ion-content>
</ion-view>