<ion-view>

  
  <ion-nav-bar class="bar bar-light" style="display:block;">
    <ion-nav-buttons side="left">
      <button title="back" class="button button-clear" back-button>
        <i class="icon ion-ios-arrow-back dark"></i></button>
    </ion-nav-buttons>

        <ion-nav-buttons side="right">
        <!-- <button ui-sref="login" style="font-weight: bold;" class="button button-clear button-oran">SIGN IN</button> -->
        </ion-nav-buttons>
        <ion-nav-title>
          <b>Log in</b>
        </ion-nav-title>


  </ion-nav-bar>
 
       <ion-content class="text-left padding">
    <br/>
     <h3 class="black">Welcome back <b class="black dark">{{t_user.user_name}}</b></h3>
    <e class="text-center" ng-if="error">{{error}}</e>
    <form ng-submit="login(det)" class="list list-inset" style="background: none; border: none;">
       
       
    
       <label class="item item-input text-left">
   <div class="row">
       <b class="col-10" style="padding-top:8px;"><i class="ion-lock-combination red"></i></b> 
         <input class="col-90" ng-model="det.password" name="password" type="password" placeholder="Password">
   </div>
       </label>
 
       <button ng-disabled="!det.password" type="submit" class="button button-block button-dark">
         Login
       </button>
     </form>
     <p>Forgot your password? <a ui-sref="reset">click here to reset.</a></p>
 
       </ion-content>
 
 
 </ion-view>
 