<ion-view  ng-init="search_box.hide()">


    <ion-nav-bar ng-style="{'background-color':profile_color+' !important;'}">
      
      <ion-nav-title class="text-center {{text_color}}">
        <b  ng-class="{{text_color}}">{{profile.user_name || '...'}}</b>
      </ion-nav-title> 
      <ion-nav-buttons side="left">
            <button title="back" ng-click="change_bar()"  ng-class="{{text_color}}" class="button button-clear" back-button>
              <i class="icon ion-ios-arrow-back {{text_color}}"></i>
            </button>
          </ion-nav-buttons>

        <ion-nav-buttons side="right">
          <button title="more" ng-show="profile.t_id!=t_id"  ng-class="{{text_color}}" ng-click="profile_more(profile)" class="button button-clear button-{{text_color}}">
            <span class="icon ion-more"></span>
          </button>
        </ion-nav-buttons>
        
    </ion-nav-bar>
    
    
    <ion-content style="margin-top: -80px !important;height:110vh !important;padding-bottom: 30px !important;">
              <ion-refresher pulling-text="Pull to refresh" on-refresh="fetch_profile(profile.t_id)"></ion-refresher>
              <div ng-include src="'components/profile_card.html'"></div>
              <div ng-include src="'components/profile_casts.html'"></div>
     </ion-content>
    
    

     <div ng-include src="'components/mic.html'"></div>
    
    <div ng-include src="'components/now_playing.html'"></div>

  
      
          
    
    </ion-view>
    
    