    <ion-view>

    <ion-nav-bar class="bar bg-grey">
    
        <ion-nav-title>
        <b>Search</b>
        </ion-nav-title>
    
        <ion-nav-buttons side="left">
        <button class="button button-clear button-small" back-button nav-direction="back">
            <i class="ion ion-close-round dark"></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>


    <div class="search-bar bg-grey">
        <label class="item item-input">
            <input type="text" autofocus ng-keyup="search(query)" ng-model="query" placeholder="Search for Casts / People" />
        </label>
    </div>
    <ion-content class="bg-grey header-content">
        <br/>
            <div class="text-center" ng-if="search_loading">
                <br>
                <ion-spinner icon="crescent"></ion-spinner>         
            </div>


            <div class="search-results" ng-show="query && !search_loading">
                
                    <div class="text-center padding">
                        <h5 class="dark">{{search_results || 0 | number}} results</h5>
                    </div>

                    <div  ng-repeat="caster in user_results" ng-include="'components/subscribe_user.html'">
                    </div>
                    <div  ng-repeat="cast in cast_results" ui-sref="cast({cast_id:cast._id})" ng-include="'components/cast.html'"> 
                    </div>
            
            </div>
        
            <div class="text-center" ng-if="search_results == 0 && !search_loading">
                <h5 class="dark padding">No result found</h5>
            </div>

    </ion-content>

</ion-view>