<ion-view cache-view="false" class="bg-grey">

  <ion-nav-bar class="bar bg-grey">
                <ion-nav-title>
                        <b>Subscribers</b>
                        </ion-nav-title>
                        
                          <ion-nav-buttons side="left">
                                <button class="button button-clear" back-button nav-direction="back">
                                        <i class="icon ion-ios-arrow-back dark"></i>
                                </button>
                        </ion-nav-buttons>
    
        <ion-nav-buttons side="right">
             
        </ion-nav-buttons>
    
        </ion-nav-bar>
        
        
        
          <ion-content ng-init="get_subscribers(user_id)">
            <ion-refresher pulling-text="Pull to refresh" on-refresh="get_subscribers(user_id)">
            </ion-refresher>
            <br>
              <div ng-if="!subscribers || subscribers.length < 1">
                  <div class="text-center item item-light">
                    <div class="padding">
                      <br>
                       <br>
                      <h2><b>No subscriber.</b></h2>  <br>
                      <br><br>
                    </div> 
                  </div>
                </div>
  
  
            <div ng-include="'components/subscribe_user.html'" ng-repeat="caster in subscribers track by $index">
            </div>
    
                                
                
        
          </ion-content>
        </ion-view>