<div class="padding" style="padding: 10px !important;" ng-if="!t_id">
          
    <div class="text-center padding">
        <h5 class="text-center">
            <img title="icon" src="img/logo.png" height="70" style="margin: 20px !important;"/>
            <br>
            JustTalk helps you tell your story, share ideas and have larger conversations
        </h5>
        <br>
        <button ui-sref="auth" class="button button-block button-balanced">
            &nbsp;&nbsp;&nbsp;&nbsp;Get started&nbsp;&nbsp;&nbsp;&nbsp;
        </button>

        <!-- <small class="text-center">
            By continuing you agree to our <a>T&Cs</a>. Please also check out our <a>Privacy</a>.
        </small> -->
    </div>

    </div>