<div class="padding" style="padding: 10px !important;" ng-if="!t_id">
          
    <div class="text-center padding">
        <small class="text-center">
            <img title="icon" src="img/logo.png" height="70" style="margin: 5px !important;"/>
            <br>
            Just talk lets you create podcasts and have onversations with millions of people, tell a story or share an idea and connect with the audio space
        </small>
        <br>
        <button ui-sref="auth" class="button button-block button-balanced">
            &nbsp;&nbsp;&nbsp;&nbsp;Get started&nbsp;&nbsp;&nbsp;&nbsp;
        </button>

        <!-- <small class="text-center">
            By continuing you agree to our <a>T&Cs</a>. Please also check out our <a>Privacy</a>.
        </small> -->
    </div>

    </div>