<div class="padding">       
    <div class="text-center">
        <h5 class="text-center">
             <div ui-sref="aprofile({id:cast.caster.t_id})" class="ppa" style="margin-top: -7px;margin-left:auto;margin-right: auto;" ng-style="{'background-image':'url('+media + cast.caster.photo+')'}"></div>
            <br>
            listen to more casts by <b>@{{cast.caster.user_name}}</b>
        </h5>
        <br>
        <button ui-sref="aprofile({id:cast.caster.t_id})" class="button button-block button-balanced">
            &nbsp;&nbsp;&nbsp;&nbsp;Go to profile&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
    </div>
</div>