
    <div ng-show="current_cast.cast" ng-style="{'background-color':color}" class="item padding now_playing">
         <div class="profile-photo" style="float: left !important;margin-left: 15px !important;margin-top: 1px !important;" ui-sref="aprofile({id:current_cast.caster.t_id})" ng-style="{'background-image':'url('+media+current_cast.caster.photo+')'}"></div>
        <div  style="margin-left:36px !important;">
        <div ng-click="open_aircast()">
            <h3 class="{{text_color}}"><b>{{current_cast.caster.full_name || current_cast.caster.first_name +' '+ current_cast.caster.last_name}}</b> &nbsp; 
                <ion-spinner ng-if="current_cast.casting" icon="lines" class="now_spinner"></ion-spinner> 
            </h3>
            <h4 class="{{text_color}}" ng-if="current_cast.caster.user_name">@{{current_cast.caster.user_name}}</h4>
         </div>
    <div>
    <div class="pull-right" style="float: right !important;margin-top: -40px !important;margin-right: 5vw !important;">
      
        <button ng-disabled="!current_cast.cast || current_cast.expired" ng-click="play_cast(current_cast)" class="button button-clear button-balanced button-icon">
            <span class="icon {{text_color}}" ng-class="current_cast.casting ? 'ion-pause':'ion-play'" style="font-size: 22px !important;"></span>
        </button>


        <button ng-click="next_cast()" ng-if="current_cast.casting" ng-disabled="(track == (playlist.length-1)) || playlist.length < 1 || !playlist || !current_cast.cast" class="button button-clear button-balanced button-icon">
            <span class="icon ion-ios-fastforward {{text_color}}" style="font-size: 22px !important;"></span>
        </button>


        <button title="close" ng-if="!current_cast.casting" ng-click="drop_aircast()" class="button button-clear button-balanced button-icon">
            <span class="icon ion-ios-close-empty {{text_color}}" style="font-size: 22px !important;"></span>
        </button>
        
    </div>
    <br>


</div>
    </div>
    <!-- <div ng-include src="'components/current_duration.html'"></div> -->
</div>

