<div class="pull-right" style="float: right !important;margin-top:20px !important;">
    <div ng-if="!selected_cast.expired">
       <button ng-disabled="!selected_cast.cast || selected_cast.expired" ng-click="play_cast(selected_cast)" class="button button-clear button-small button-icon button-balanced">
        <span ng-class="selected_cast.casting ? 'ion-pause':'ion-play'" style="font-size: 26px !important;"></span>
        </button>
       <h6 ng-show="!selected_cast.casting" class="grey">&nbsp;&nbsp;{{selected_cast.duration || 0 | number:0}}s</h6>
   </div>
   <h6 ng-if="selected_cast.expired" class="assertive">&nbsp;&nbsp;Expired</h6>
</div>