
<div class="profile_header text-center" ng-style="{'background-image':'url('+media+profile.photo_header+')'}">

    <div class="profile_photo_big" ng-if="profile.t_id!=user.t_id" ng-style="{'background-image':'url('+media+profile.photo+')'}"></div>
    <div class="profile_photo_big text-center" ng-if="profile.t_id==user.t_id" ui-sref="change_photo" ng-style="{'background-image':'url('+media+user.photo+')'}"></div>  

    <h3 class="text-center">
        <b class="light">{{profile.full_name || profile.first_name + ' ' + profile.last_name}}</b>  <span ng-if="profile.verified" class="ion ion-checkmark-circled assertive"></span>
        <br/>
    <small class="text-center light">@{{profile.user_name || '...'}}</small>
    </h3>
    <h4 ng-if="profile.bio" class="text-center padding light">{{profile.bio}}</h4>        
    <div class="text-center light">
        <b>{{profile_casts.length || 0 | number}}</b>
        <i style="opacity: 0.4;"> Casts</i>
            &nbsp;&nbsp;&nbsp;&nbsp;
        <b ui-sref="subscribers({user_id:profile.t_id})">
        {{profile.subscribers.length || 0 | number}}
        </b>
        <i style="opacity: 0.4;"> Subscribers</i>
    </div>


<div class="item padding" style="border:none !important; background-color: transparent !important;margin-top: 4px !important;">
    <!-- <div class="item-body"> -->
         
             <div class="text-center" ng-if="profile.user_name && profile.t_id!=user.t_id" ng-hide="is_blocked(profile) || profile.block_list.indexOf(t_id) > -1">
                    <button ng-if="!subscribed(profile)" ng-click="subscribe(profile._id)" class="button button-small button-long button-assertive">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Subscribe&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>  
                    <button ng-if="subscribed(profile)" ng-click="unsubscribe(profile._id)" class="button button-small button-outline button-long button-assertive">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Unsubscribe&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                </div>
        <!-- </div> -->
</div>
</div>

  