<div ng-if="cast.recast" style="float:right  !important;">
   <ion-item class="recast-box" ng-show="cast.recast.caster" ng-class="cast_status(cast.recast)">        
            <div ng-include src="'components/recast_player.html'"></div>
            <div class="profile-photo"  ng-click="open_cast(cast.recast)" ng-style="{'background-image':'url('+media+cast.recast.caster.photo+')'}"></div> 
            <div class="padding" ng-click="open_cast(cast.recast)">
                <h4>
                <b>{{cast.recast.caster.full_name || cast.recast.caster.first_name +' '+ cast.recast.caster.last_name}}</b>
                 <b class="grey">@{{cast.recast.caster.user_name || '...'}}</b>
                </h4>
                <h3 ng-if="cast.recast.title" style="font-size: 17px !important;">{{cast.recast.title ||  '...'}}</h3>
                <h5 ng-if="cast.recast.reply" class="dark" style="opacity: 0.6;">In conversation</h5>
            </div>
            <div ng-include src="'components/recast_panel.html'"></div>
   </ion-item>

        <div ng-show="!cast.recast.caster" class="item item-divider recast-box">
            <h4>Cast is not available anymore</h4>
        </div>

    </div>