 <ion-item class="item-light">
        <div ng-show="!cast.recast || cast.cast" ng-include src="'components/player4.html'"></div>
        <h3 class="dark" ng-if="cast.title"  style="font-size: 18px !important;">
            {{cast.title}}
            <h6 class="grey">
                &nbsp; {{timediff(cast.date_created)}}
            </h6>
        </h3>
        <div ng-include src="'components/mentions.html'"></div>
        <div style="margin-bottom: 10px !important;margin-top: 10px !important;" ng-include src="'components/duration.html'"></div>
        <div class="row text-center" style="margin-top: 30px !important;">
            <button ng-disabled="cast.casting" class="button button-small button-light button-outline col orange_link" ng-click="edit_cast(cast)">Edit</button>
            &nbsp;&nbsp;
            <button ng-disabled="cast.casting" class="button button-small col button-balanced" ng-click="upload_cast(cast)">Upload</button>
        </div>
        <ion-option-button ng-click="delete_cast(cast)" class="assertive">
            Delete
        </ion-option-button>
 </ion-item>
