        
<div ng-click="play_cast(cast)" ng-style="{'background-color':color}" class="item {{text_color}} item-avatar text-left cast-track" ng-if="cast.caster">
    <img title="image" class="avatar" src="{{media+cast.caster.photo}}" height="30" />
    <h3 class="{{text_color}}">
        <b>{{cast.caster.full_name || cast.caster.first_name +' '+ cast.caster.last_name}}</b>&nbsp;
        <b style="opacity: 0.7 !important;">@{{cast.caster.user_name}}</b>
    </h3>
    <h3 class="{{text_color}}" ng-if="cast.title" style="font-size: 18px !important;">{{cast.title}}</h3>
    <h6 class="{{text_color}}" ng-if="cast.reply" style="opacity: 0.7 !important;">from conversation</h6>
    <h6 class="{{text_color}}">{{timediff(cast.date_created)}}</h6>
    <br>
</div>