
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("fonts/roboto/Roboto-Medium.ttf");
}


@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}


*{
  font-family: 'Source Sans Pro', sans-serif;
   border:none;
 }

 small{
  margin: 0px !important;
  padding: 0px !important;
 }
