


input[range]::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
     /* background: #cbcbcbe8; */
  }



.duration::-webkit-slider-thumb {
    -webkit-appearance: none;
    border:none !important;
    height: 10px;
    width: 10px;
    border-radius: 360px;
    background: #adadadd3;
    cursor: pointer;
    box-shadow: none !important; /* Add cool effects to your sliders! */
    appearance: none !important;
    z-index: 100000 !important;
  }


.duration2::-webkit-slider-thumb {
    -webkit-appearance: none;
    border:none !important;
    height: 0px;
    width: 0px;
    border-radius: 360px;
    background: #adadadd3;
    cursor: pointer;
    box-shadow: none !important; /* Add cool effects to your sliders! */
    appearance: none !important;
    z-index: 100000 !important;
  }







  



  